if status is-interactive
    alias cat 'bat --paging=never --decorations=never'
    alias cls clear
    alias df dysk
    alias du dua
    alias find 'fd --hidden'
    alias grep 'rg --smart-case'
    alias l 'ls -alh'
    alias la 'eza -la --icons --group-directories-first'
    alias less 'bat --paging=always'
    alias ll 'eza -l --icons --group-directories-first'
    alias logoff 'qdbus org.kde.Shutdown /Shutdown org.kde.Shutdown.logout'
    alias ls 'eza --icons --group-directories-first'
    alias more 'bat --paging=always'
    alias ncdu 'dua interactive'
    alias soft-reboot 'sudo systemctl soft-reboot'
    alias tree 'eza --tree --icons --all'
end
