{{- if eq .chezmoi.hostname "nixos" }}
[Libinput][1739][52967][SYNA32EB:00 06CB:CEE7 Touchpad]
Enabled=true
NaturalScroll=false
ScrollFactor=0.5
{{- end }}
{{- if eq .chezmoi.hostname "LPC" }}
[Libinput][1739][52656][PNP0C50:00 06CB:CDB0 Touchpad]
Enabled=true
NaturalScroll=false
ScrollFactor=0.5
{{- end }}