[AC][Display]
DimDisplayIdleTimeoutSec=120
DimDisplayWhenIdle=true
TurnOffDisplayIdleTimeoutSec=300

[AC][Performance]
PowerProfile=performance

[AC][SuspendAndShutdown]
AutoSuspendAction=0
AutoSuspendIdleTimeoutSec=7200
LidAction=64

[Battery][Performance]
PowerProfile=power-saver

[Battery][SuspendAndShutdown]
LidAction=64

[LowBattery][Display]
UseProfileSpecificDisplayBrightness=false

[LowBattery][Performance]
PowerProfile=power-saver
