[Desktops]
Id_1=Desktop_1
Id_2=Desktop_2
Id_3=Desktop_3
Id_4=Desktop_4
Number=4
Rows=2

[Effect-overview]
BorderActivate=9

[ElectricBorders]
BottomRight=ShowDesktop

[Plugins]
wobblywindowsEnabled=false
{{if eq .chezmoi.hostname "gpc" }}gamecontrollerEnabled=true{{ end }}

{{- if eq .chezmoi.hostname "nixos" }}
[NightColor]
Active=true
DayTemperature=5900
NightTemperature=3600
TransitionTime=60

[Xwayland]
Scale=1.6
{{ end }}